#root, #app, #map {
  height: 100vh;
}

#state {
  width: 200px;
  float: left;
  background-color: darkgray;
}

#map {
  margin-left: 200px;
}

.locations__list {
  list-style-type: none;
  padding-left:5px;
  font-size:1.2em;
}